<!-- Premier lancement -->
<div class="card" ng-if="!Options.apiKey">
	<div class="title"> <i class="icon green-background material-icons md-white">home</i>
		<div class="text">Mes Jeedom</div>
	</div>

	<div class="body row" ng-if="!Options.name">
		<div class="text"> <i>Aucun Jeedom sauvegardé !</i>
		</div>
	</div>
</div>
<div class="card" ng-if="!Options.apiKey">
	<a class="body row hover-link" href="#/settings">
		<i class="icon material-icons">settings</i>
		<div class="text">Réglages
		</div>
	</a>
</div>

<!-- Menu -->
<card-menu items="Menu" title="Options.name" bagdes="MenuBadges" icon="'home'"></card-menu>	

<div class="card" ng-if="Options.apiKey">
	<div class="title"> 
		<i class="icon green-background material-icons md-white">home</i>
		<div class="text">{{Options.name}}</div>
		<div class="badge blue-background white-text" ng-if="Options.Messages.length>0">{{Options.Messages.length}} <i class="material-icons">message</i></div>
		<div class="badge red-background white-text" ng-if="Options.Updates.length>0">{{Options.Updates.length}} <i class="material-icons">update</i></div>
	</div>

	<div class="body row">
		<i class="icon material-icons">device_hub</i>
		<div class="text">
			v.{{Options.Version}}
		</div>
	</div>

	<div class="body row" ng-if="Options.Updates.length>0">
		<i class="icon material-icons">update</i>
		<div class="text">
			<span ng-repeat="update in Options.Updates" >
				{{update.name}}{{$last ? '' : ', '}}
			</span>
		</div>
	</div>

	<div class="body row hover-link" ng-click="search();">
		<i class="icon material-icons">search</i>
		<a class="text" href="#/default/search">Rechercher</a>
	</div>

	<div class="body row hover-link" ng-click="showFavs();">
		<i class="icon material-icons">star</i>
		<div class="text">Favoris</div>
	</div>

	<a class="body row hover-link" href="#/settings">
		<i class="icon material-icons">settings</i>
		<div class="text">Réglages
		</div>
	</a>
</div>

<!-- Recherche -->
<div class="card" ng-if="isSearchActive">
	<div class="title"> <i class="icon green-background material-icons md-white">search</i>
		<div class="text">Rechercher</div>
	</div>

	<div class="body row hover-link" ng-repeat="item in searchItem" ng-click="changeSearchItem($index)">
		<i class="icon" ng-if="!$index==checkedItem"></i>
		<i class="icon material-icons" ng-if="$index==checkedItem">check</i>
		<div class="text">
			{{item.name}}
		</div>
	</div>

	<div class="body row">
		<i class="icon material-icons">search</i>
		<div class="text">
			<input class="material" ng-model="eq.name" placeholder="{{searchItem[checkedItem].name}}" />
		</div>
	</div>

	<div class="body row hover-link" ng-hide="!eq||eq==''||!eq.name" ng-repeat="item in SearchList | filter:{name: eq.name, isVisible: '1'} | limitTo:10" ng-click="showEq(item.id)">
		<i class="icon"></i><div class="text">{{item.name}}</div>
	</div>
</div>

<!-- Detail Equipement -->
<div class="card" ng-if="DetailItem&&!DetailItem.lastLaunch">
	<div class="title"> <i class="icon green-background material-icons md-white">info_outline</i>
		<div class="text">{{DetailItem.name}}</div>
		<i class="badge icon material-icons hover-link" ng-click="toggleFavorite('equipement', DetailItem.id)" ng-if="!isFavorite('equipement', DetailItem.id)">star_outline</i>
		<i class="badge icon material-icons hover-link" ng-click="toggleFavorite('equipement', DetailItem.id)" ng-if="isFavorite('equipement', DetailItem.id)">star</i>
	</div>

	<div class="body row" ng-repeat="item in DetailItem.cmds | filter:{type: 'info'}">
		<i class="icon"></i>
		<div class="text">{{item.name}}</div>
		<div class="badge no-margin-right">{{item.currentValue}} {{item.unite}}</div>
		<i class="badge icon material-icons no-margin-left hover-link" ng-if="item.isHistorized" ng-click="getCommandGraph(DetailItem, item)">show_chart</i>
	</div>

	<div class="separator"></div>

	<div class="body row hover-link" ng-repeat="item in EquipementDetail.cmds | filter:{type: 'action', isVisible: '1'}" ng-switch="item.logicalId">
		<i class="icon material-icons" ng-switch-when="color">colorize</i>
		<i class="icon material-icons" ng-switch-when="refresh">refresh</i>
		<i class="icon material-icons" ng-switch-when="luminosity">brightness_low</i>
		<i class="icon material-icons" ng-switch-default>input</i>
			
		
		<div class="text">{{item.name}}</div>
		<!--
		<div ng-switch on="item.subType" >
			<div class="action hover-link" ng-switch-when="slider">
				<input type="range" value="{{item.currentValue}}" max="{{item.configuration.maxValue}}" min="{{item.configuration.minValue}}" step="" />
			</div>
			<div class="action hover-link" ng-switch-when="color">
				<input type="color" value="{{item.currentValue}}" />
			</div>
			<div class="action hover-link" ng-switch-default>ok</div>
		</div>
		-->
	</div>
</div>

<!-- Detail Scenario -->
<div class="card" ng-if="DetailItem&&DetailItem.lastLaunch">
	<div class="title"> <i class="icon green-background material-icons md-white">info_outline</i>
		<div class="text">{{DetailItem.name}}</div>
		<i class="badge icon material-icons hover-link" ng-click="toggleFavorite('scenario', DetailItem.id)" ng-if="!isFavorite('scenario', DetailItem.id)">star_outline</i>
		<i class="badge icon material-icons hover-link" ng-click="toggleFavorite('scenario', DetailItem.id)" ng-if="isFavorite('scenario', DetailItem.id)">star</i>
	</div>

	<div class="body row">
		<i class="icon material-icons">group_work</i>
		<div class="text">Groupe : {{DetailItem.group}}</div>
	</div>	

	<div class="body row">
		<i class="icon material-icons">queue_play_next</i>
		<div class="text">Etat : {{DetailItem.state}}</div>
	</div>

	<div class="body row">
		<i class="icon material-icons">access_time</i>
		<div class="text">{{DetailItem.lastLaunch}}</div>
	</div>
</div>

<!-- Graphique -->
<div class="card" ng-if="graphDetail">
	<div class="title"> <i class="icon green-background material-icons md-white">show_chart</i>
		<div class="text">{{graphDetail.name}}</div>
	</div>
	<div class="body row bar-chart">
		<i class="icon material-icons">show_chart</i>
		<div 
			class="bar" 
			ng-repeat="item in graphDetail.result"
			style="height: {{90*(parseFloat(item.value)-graphDetail.stats.results.min) / (graphDetail.stats.results.max-graphDetail.stats.results.min)}}%;"></div>
	</div>

	<div class="body row">
		<i class="icon material-icons">vertical_align_top</i>
		<div class="text">Maximum</div>
		<div class="badge no-margin-right">{{graphDetail.stats.results.max | number:2}} {{graphDetail.item.unite}}</div>
	</div>
	<div class="body row">
		<i class="icon material-icons">vertical_align_center</i>
		<div class="text">Moyenne</div>
		<div class="badge no-margin-right">{{graphDetail.stats.results.mean | number:2}} {{graphDetail.item.unite}}</div>
	</div>
	<div class="body row">
		<i class="icon material-icons">vertical_align_center</i>
		<div class="text">Mediane</div>
		<div class="badge no-margin-right">{{graphDetail.stats.results.median | number:2}} {{graphDetail.item.unite}}</div>
	</div>
	<div class="body row">
		<i class="icon material-icons">vertical_align_bottom</i>
		<div class="text">Minimum</div>
		<div class="badge no-margin-right">{{graphDetail.stats.results.min | number:2}} {{graphDetail.item.unite}}</div>
	</div>
</div>

<!-- Messages -->
<list-expandable title="'Messages'" icon="'message'" data="{list: Options.Messages, limit: 5}"></list-expandable>

<!-- Mises à jour -->
<list-expandable title="'Mises à jour'" icon="'update'" data="{list: Options.Updates, limit: 5, tag: 'name'}"></list-expandable>

<!-- Favoris -->
<list-expandable title="'Favoris'" icon="'star'" data="{list: Favs, limit: 5, tag: 'name'}"></list-expandable>
