<!-- Menu -->
<card-menu items="Menu" title="Options.name" badges="MenuBadges" icon="'home'"></card-menu>	

<!-- Messages -->
<list-expandable title="'Messages'" icon="'message'" data="{list: Options.Messages, limit: 5}" badges="[{id: 'action', count: 1, color: 'grey', icon: 'list'}]"></list-expandable>

<!-- Mises à jour -->
<list-expandable title="'Mises à jour'" icon="'update'" data="{list: Options.Updates, limit: 5, tag: 'name'}"></list-expandable>

<!-- Favoris -->
<list-expandable title="'Favoris'" icon="'star'" data="{list: Favs, limit: 5, tag: 'name'}"></list-expandable>