<div class="card" ng-if="!Options.name">
	<div class="title"> <i class="icon green-background material-icons md-white">home</i>
		<div class="text">Mes Jeedom</div>
	</div>

	<div class="body row" ng-if="!Options.name">
		<div class="text"> <i>Aucun Jeedom sauvegardé !</i>
		</div>
	</div>
</div>

<div class="card" ng-if="Options.name">
	<div class="title"> 
		<i class="icon green-background material-icons md-white">home</i>
		<div class="text">{{Options.name}}</div>
		<div class="badge blue-background white-text" ng-if="Options.Messages.length>0">{{Options.Messages.length}} <i class="material-icons">message</i></div>
		<div class="badge red-background white-text" ng-if="Options.Updates.length>0">{{Options.Updates.length}} <i class="material-icons">update</i></div>
	</div>

	<div class="body row">
		<i class="icon material-icons">device_hub</i>
		<div class="text">
			v.{{Options.Version}}
		</div>
	</div>

	<div class="body row" ng-if="Options.Updates.length>0">
		<i class="icon material-icons">update</i>
		<div class="text">
			<span ng-repeat="update in Options.Updates" >
				{{update.name}}{{$last ? '' : ', '}}
			</span>
		</div>
	</div>

	<div class="body row">
		<i class="icon material-icons">search</i>
		<div class="text">
			<input class="material" ng-model="eq.name" placeholder="Equipement" />
		</div>
	</div>

	<div class="body row hover-link" ng-hide="!eq||eq==''||!eq.name" ng-repeat="item in Options.Equipements | filter:eq | limitTo:10" ng-click="showEq(item.id)">
		<i class="icon"></i><div class="text">{{item.name}}</div>
	</div>

</div>

<div class="card" ng-if="EquipementDetail">
	<div class="title"> <i class="icon green-background material-icons md-white">info_outline</i>
		<div class="text">{{EquipementDetail.name}}</div>
	</div>

	<div class="body row" ng-repeat="item in EquipementDetail.cmds | filter:{type: 'info'}">
		<i class="icon"></i>
		<div class="text">{{item.name}}</div>
		<div class="badge no-margin-right">{{item.currentValue}} {{item.unite}}</div>
		<i class="badge icon material-icons no-margin-left hover-link" ng-if="item.isHistorized" ng-click="getCommandGraph(EquipementDetail, item)">show_chart</i>
	</div>

	<div class="separator"></div>

	<div class="body row hover-link" ng-repeat="item in EquipementDetail.cmds | filter:{type: 'action', isVisible: '1'}" ng-switch="item.logicalId">
		<i class="icon material-icons" ng-switch-when="color">colorize</i>
		<i class="icon material-icons" ng-switch-when="refresh">refresh</i>
		<i class="icon material-icons" ng-switch-when="luminosity">brightness_low</i>
		<i class="icon material-icons" ng-switch-default>input</i>
			
		
		<div class="text">{{item.name}}</div>
		<!--
		<div ng-switch on="item.subType" >
			<div class="action hover-link" ng-switch-when="slider">
				<input type="range" value="{{item.currentValue}}" max="{{item.configuration.maxValue}}" min="{{item.configuration.minValue}}" step="" />
			</div>
			<div class="action hover-link" ng-switch-when="color">
				<input type="color" value="{{item.currentValue}}" />
			</div>
			<div class="action hover-link" ng-switch-default>ok</div>
		</div>
		-->
	</div>
</div>

<div class="card" ng-if="graphDetail">
	<div class="title"> <i class="icon green-background material-icons md-white">show_chart</i>
		<div class="text">{{graphDetail.name}}</div>
	</div>
	<div class="body row bar-chart">
		<i class="icon material-icons">show_chart</i>
		<div 
			class="bar" 
			ng-repeat="item in graphDetail.result"
			style="height: {{90*(parseFloat(item.value)-graphDetail.stats.results.min) / (graphDetail.stats.results.max-graphDetail.stats.results.min)}}%;"></div>
	</div>

	<div class="body row">
		<i class="icon material-icons">vertical_align_top</i>
		<div class="text">Maximum</div>
		<div class="badge no-margin-right">{{graphDetail.stats.results.max | number:2}} {{graphDetail.item.unite}}</div>
	</div>
	<div class="body row">
		<i class="icon material-icons">vertical_align_center</i>
		<div class="text">Moyenne</div>
		<div class="badge no-margin-right">{{graphDetail.stats.results.mean | number:2}} {{graphDetail.item.unite}}</div>
	</div>
	<div class="body row">
		<i class="icon material-icons">vertical_align_center</i>
		<div class="text">Mediane</div>
		<div class="badge no-margin-right">{{graphDetail.stats.results.median | number:2}} {{graphDetail.item.unite}}</div>
	</div>
	<div class="body row">
		<i class="icon material-icons">vertical_align_bottom</i>
		<div class="text">Minimum</div>
		<div class="badge no-margin-right">{{graphDetail.stats.results.min | number:2}} {{graphDetail.item.unite}}</div>
	</div>
</div>

<div class="card" ng-if="Options.Messages.length>0">
	<div class="title"> <i class="icon green-background material-icons md-white">message</i>
		<div class="text">Messages</div>
		<i class="badge icon material-icons hover-link" ng-click="clearAllMessages()">clear_all</i>
	</div>

	<div class="body row" ng-repeat="mess in Options.Messages | limitTo:1">
		<i class="icon"></i>
		<div class="text">
			{{getMessageText(mess.message)}}
		</div>
	</div>

	<div class="body row fade" ng-repeat="mess in Options.Messages | limitTo:10" ng-if="display_message && $index > 0">
		<i class="icon"></i>
		<div class="text">
			{{getMessageText(mess.message)}}
		</div>
	</div>

	<div class="body row hover-link" ng-if="!display_message && Options.Messages.length>1" ng-click="toggleDisplayMessages()">
		<i class="icon material-icons">keyboard_arrow_down</i>
		<div class="text" ng-if="Options.Messages.length==2">
			Afficher le message supplémentaire...
		</div>
		<div class="text" ng-if="Options.Messages.length>2">
			Afficher les autres messages...
		</div>

	</div>

	<div class="body row hover-link" ng-if="display_message" ng-click="toggleDisplayMessages()">
		<i class="icon material-icons">keyboard_arrow_up</i>
		<div class="text">
			Masquer les messages
		</div>
	</div>
</div>

<div class="card">
	<div class="title"> <i class="icon green-background material-icons md-white">info_outline</i>
		<div class="text">Informations</div>
	</div>

	<a class="body row hover-link" href="#/settings" onclick="_gaq.push(['_trackEvent', 'btn-settings', 'click']);">
		<i class="icon material-icons">settings</i>
		<div class="text">Réglages
		</div>
	</a>
</div>

