<div class="card" ng-if="$ctrl.data.list.length > 0">
    <div class="title"> <i class="icon green-background material-icons md-white">{{$ctrl.icon}}</i>
        <div class="text">{{$ctrl.title}}</div>
        <div class="badge white-text" ng-repeat="badge in $ctrl.badges" ng-if="badge.count>0" ng-class="badge.color+'-background'">
            {{badge.count}}
            <i class="material-icons">{{badge.icon}}</i>
        </div>
    </div>

    <div class="body row" ng-if="$ctrl.data.list.length==0">
        <i class="icon"></i>
        <div class="text">
            Aucun résultat
        </div>
    </div>

    <div class="body row" ng-repeat="item in $ctrl.data.list | limitTo:(extend ? $ctrl.data.limit : nbSmall)">
        <i class="icon"></i>
        <div class="text" ng-if="!$ctrl.data.tag">
            {{item.message}}
        </div>
        <div class="text" ng-if="$ctrl.data.tag">
            {{item[$ctrl.data.tag]}}
        </div>
    </div>

    <div class="body row hover-link border-top" ng-if="$ctrl.data.list.length>nbSmall" ng-click="toggle()">
        <i class="icon material-icons" ng-if="!extend">keyboard_arrow_down</i>
        <i class="icon material-icons" ng-if="extend">keyboard_arrow_up</i>

        <div class="text" ng-if="!extend">
            Afficher la suite ...
        </div>

        <div class="text" ng-if="extend">
            Masquer 
        </div>

    </div>

</div>